$background-start: hsl(0, 0%, 10%);
$background-mid: hsl(0, 0%, 20%);
$background-end: hsl(0, 0%, 20%);

$adjusted-black: hsl(0, 0%, 20%);
$adjusted-white: hsl(0, 0%, 80%);

$adjusted-yellow: hsl(60, 100%, 48%);
$adjusted-cyan: hsl(180, 100%, 48%);
$transparent-cyan: hsla(180, 100%, 48%, 0.5);